# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.keystore
!debug.keystore
keystore.properties
!keystore.properties.example
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
